/* add custom styles */
html {
    font-size: 14px;
}

body {
    background: url('http://www.planwallpaper.com/static/images/blurry-lights-background_YYbqJWo.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.container {
    background: black;
    color: white;
    border-radius: 1.5rem;
    margin: 1.5rem auto;
    padding: 2rem;
    width: 600px;
}

h1 {
    margin: 0 0 1.5rem;
}

.row {
    margin-bottom: 1.5rem;
}

.row label {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.row input {
    width: 100%;
}

form {
  color : black;
}

input.warning {
    background-color: rgba(255, 0, 0, 0.8);
}

